<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf8"/>
	</head>
	<body>
		<h1>Login</h1>
		<form method="post" action="/login">
			<div>
				<label for="username">Username: </label>
				<input type="text" name="username"/>
			</div>
			<div>
				<label for="password">Password: </label>
				<input type="password" name="password"/>
			</div>
			<div>
				<button type="submit" value="LOG-IN"/>
			</div>
		</form>
		<p>Don't have an account? <a href="/register">SIGN UP</a></p>
	</body>
</html>