<!doctype html>
<html>
	<head>
	</head>
	<body>
		<form action="/register" method="post" enctype="multipart/form-data">
			<div class="form-row">
				<label for="username">Username:</label>
				<input type="text" name="username" id="username"/>
			</div>
			<div class="form-row">
				<label for="profile_picture">Profile Picture:</label>
				<input type="file" name="profile_picture" id="profile_picture"/><br/>
			</div>
			<input type="submit" value="submit"/><br/>
		</form>
	</body>
</html>